#игнорировать всё в данном каталоге 
/tmp/
#игнорировать все файлы, заканчивающиеся на _old
*_old
#игнорировать все файлы, заканчивающиеся на _backup
*_backup
#игнорировать все файлы данного типа, вне зависимости от каталога 
Thumbs.db
#игнорировать все файлы данного типа, вне зависимости от каталога
.DS_Store